input[type="text"]:disabled {
  background-color:#ffffff;
  color:#000000
}
input[type="button"]:disabled {
  background-color:#aabbcc;
  color:#444444
}
.pointer {
  cursor: pointer;
}
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  min-width: 80%;
  max-width: 80%;
  word-wrap: break-word;
  float: left;
}
.containerR {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  min-width: 80%;
  max-width: 80%;
  word-wrap: break-word;
  float: right;
}
.chat-msgs {
  padding: 1%;
  border: 5px solid #000000;
  overflow-y:auto;
  min-height: 888px;
  max-height: 888px;
  display: flex;
  flex-direction: column-reverse;
}
.text-field {
  min-height: 40px;
  max-height: 40px;
  min-width: 65%;
  max-width: 65%;
  float: right;
  margin-right: 1%;
}
.send-button {
  min-height: 40px;
  max-height: 40px;
  min-width: 10%;
  max-width: 10%;
  background-color: #aaccaa;
  float: right;
}
.sat-boxL {
  display: inline-block;
  min-width: 475px;
  max-width: 475px;
  padding: 1%;
  border: 3px solid #000055;
  overflow-y: auto;
  margin: 0.5%;
}
.sat-name {
  float: right;
  font-size: 150%;
  border: 2px solid #000000;
  padding 1%;
  min-height: 30%;
  max-height: 30%;
  min-width: 100%;
  max-width: 100%;
}
.sat-name-connect {
  float: right;
  font-size: 150%;
  border: 2px solid #000000;
  padding 1%;
  min-height: 30%;
  max-height: 30%;
  min-width: 100%;
  max-width: 100%;
  color: #00cc33;
}
.quad-name {
  font-size: 100%;
  border: 2px solid #000000;
  padding 2%;
  float: left;
}
.connect-button {
  background-color: #aaffaa;
  padding: 5%;
  float: right;
  margin: 1%;
}
.launch-button {
  background-color: #ffaaaa;
  padding: 5%;
  float: right;
  margin: 1%;
}
.stern-button {
  background-color: #aaaaff;
  padding: 10%;
  min-width: 75%;
  margin-top: 3%;
}
.nav-buttons {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  position: sticky;
  top: 10;
}
.nav-buttons-notif {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  position: sticky;
  top: 10;
  animation-name: notification;
  animation-duration: 1s;
}
@keyframes notification {
  0% {background-color: orange;}
  20% {background-color: #f1f1f1;}
  40% {background-color: orange;}
  60% {background-color: #f1f1f1;}
  80% {background-color: orange;}
  100% {background-color: #f1f1f1;}
}
.login-box {
  padding: 1%;
}
.sat-pin {
  float: left;
  font-size: 130%;
}
.pol-show {
  float: right;
  margin-top: 12%;
  border: 2px solid #000000;
  padding: 1%;
}
.start-button {
  background-color: #22dd88;
  color: #ffffff;
  padding: 2%;
  font-size: 150%;
}
.end-button {
  background-color: #dd2222;
  color: #ffffff;
  padding: 2%;
  font-size: 150%;
}